{% filter table(['ID', 'TRACKER', 'STATUS', 'PRIORITY', 'PARENT', 'SUBJECT']) -%}
{% for issue in issues -%}
#{{issue.id}}|{{issue.tracker.name}}|{{issue.status.name}}|{{issue.priority.name}}|{{issue.parent.id|default('X')}}|{{issue.subject}}
{% endfor -%}
{% endfilter -%}
